@font-face {
    font-family: 'Tungsten';
    src: local('Tungsten Medium'), local('Tungsten-Medium'),
        url('Tungsten-Medium.woff2') format('woff2'),
        url('Tungsten-Medium.woff') format('woff'),
        url('Tungsten-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }